{% extends 'main/layout.html' %}

{% block title %}account{% endblock %}

{% block content %}
    <h4 class="text-center">Личный кабинет</h4>
    <hr/>
    <div class="row">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action" id="list-orders-list" data-bs-toggle="list" href="#list-orders" role="tab" aria-controls="list-orders">Заказы</a>
                <a class="list-group-item list-group-item-action active" id="list-wishlist-list" data-bs-toggle="list" href="#list-wishlist" role="tab" aria-controls="list-wishlist">Лист ожидания</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade" id="list-orders" role="tabpanel" aria-labelledby="list-orders-list">Заказы</div>
                <div class="tab-pane fade show active" id="list-wishlist" role="tabpanel" aria-labelledby="list-wishlist-list">

                    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                        {% for album in customer.wishlist.all %}
                            <div class="col mb-5" style="width: 18rem">
                                <div class="card h-100">
                                    <img src="{{ album.image.url }}" class="card-img-top">
                                    <div class="card-body text-center">
                                        <h5 class="card-title"><a href="{{ album.artist.get_absolute_url }}" class="text-decoration-none">
                                            {{ album.artist.name }}
                                        </a></h5>
                                        <h5 class="card-title"><a href="{{ album.get_absolute_url }}" class="text-decoration-none">
                                            {{ album.name }}
                                        </a></h5>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            Носитель: <strong>{{ album.media_type.name }}</strong>
                                        </li>
                                        <li class="list-group-item">
                                            Дата релиза: <strong>{{ album.release_date|date:"d-m-Y" }}</strong>
                                        </li>
                                        <li class="list-group-item">
                                            Жанр: <strong class="badge bg-dark">{{ album.artist.genre.name }}</strong>
                                        </li>
                                        <li class="list-group-item">
                                                {% if album.stock %}
                                                    <strong class="badge bg-success">Есть в наличии</strong>
                                                {% else %}
                                                    <strong class="badge bg-dark">Нет в наличии</strong>
                                                {% endif %}
                                        </li>
                                    </ul>
                                    <div class="card-body text-center">
                                        <a href="{% url 'remove_from_wishlist' album_id=album.id %}" class="btn btn-danger">Удалить из ожидаемого</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}