{% extends 'main/layout.html' %}

{% block title %}
Main Page
{% endblock %}

{% block content %}
{#    <p>{{ request.user }}</p>#}

    <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Shop in style</h1>
                    <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
                </div>
            </div>
        </header>

    <section>
        <h3>Найти товары:</h3>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
    </section>

    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for album in albums %}
                <div class="col mb-5" style="width: 19rem">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="{{ album.image.url }}" alt="...">
                        <!-- Product details-->
                        <div class="card-body">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder"><a class="text-decoration-none" href="{{ album.artist.get_absolute_url }}">
                                    {{ album.artist.name }}
                                </a></h5>
                                <h5 class="fw-bolder"><a class="text-decoration-none" href="{{ album.get_absolute_url }}">
                                    {{ album.name }}
                                </a></h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Носитель: <strong>{{ album.media_type.name }}</strong></li>
                                    <li class="list-group-item">Дата релиза: <strong>{{ album.release_date|date:"d-m-Y" }}</strong></li>
                                    <li class="list-group-item">Жанр: <strong>{{ album.artist.genre.name }}</strong></li>
                                    <li class="list-group-item">
                                        {% if album.stock %}
                                        Наличие: <strong class="badge bg-success">{{ album.stock }} шт.</strong>
                                        {% else %}
                                        <strong class="badge bg-danger">Нет в наличии</strong>
                                        {% endif %}
                                    </li>
                                </ul>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="row text-center">
                                <div class="fs-4 mb-1">{{album.price}} $</div>
                                {% if request.user.is_authenticated %}
                                    {% if album.stock %}
                                        {% if album not in cart.products_in_cart %}
                                            <a href="{% url 'add_to_cart' ct_model=album.ct_model slug=album.slug %}" class="btn btn-primary">Добавить</a>
                                        {% else %}
                                            <a href="{% url 'cart' %}" class="btn btn-secondary">Перейти в корзину</a>
                                        {% endif %}
                                    {% else %}
                                        {% if album not in request.user.customer.wishlist.all %}
                                            <a href="{% url 'add_to_wishlist' album_id=album.id %}" class="btn btn-warning">Добавить в ожидаемое</a>
                                        {% else %}
                                            <a href="{% url 'account' %}" class="btn btn-secondary">Перейти ожидаемое</a>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
