{% extends 'main/layout.html' %}
{% load crispy_forms_tags %}

{% block title %}Поиск:{% endblock %}

{% block content %}
    <div class="col-md-12 mt-5">
        <h5 class="text-center">Поиск</h5>

        <div class="col-md-12">
            <form action="{% url 'search' %}" method="GET">
                {{ form.media }}
                {{ form|crispy }}
                <input type="submit" value="Поиск" class="btn btn-success">
            </form>
        </div>

        <h5 class="text-center">
            Результаты поиска:
            {% if results.count %}
                {{ results.count }}
            {% else %}
                Нет результатов
            {% endif %}
        </h5>
        <div class="container px-4 px-lg-5 mt-3">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for album in results %}
                <div class="col mb-5" style="width: 19rem">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="{{ album.image.url }}" alt="...">
                        <!-- Product details-->
                        <div class="card-body">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder"><a class="text-decoration-none" href="{{ album.artist.get_absolute_url }}">
                                    {{ album.artist.name }}
                                </a></h5>
                                <h5 class="fw-bolder"><a class="text-decoration-none" href="{{ album.get_absolute_url }}">
                                    {{ album.name }}
                                </a></h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Носитель: <strong>{{ album.media_type.name }}</strong></li>
                                    <li class="list-group-item">Дата релиза: <strong>{{ album.release_date|date:"d-m-Y" }}</strong></li>
                                    <li class="list-group-item">Жанр: <strong>{{ album.artist.genre.name }}</strong></li>
                                    <li class="list-group-item">
                                        {% if album.stock %}
                                        Наличие: <strong class="badge bg-success">{{ album.stock }} шт.</strong>
                                        {% else %}
                                        <strong class="badge bg-danger">Нет в наличии</strong>
                                        {% endif %}
                                    </li>
                                </ul>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="row text-center">
                                <div class="fs-4 mb-1">{{album.price}} $</div>
                                {% if request.user.is_authenticated %}
                                    {% if album.stock %}
                                        {% if album not in cart.products_in_cart %}
                                            <a href="{% url 'add_to_cart' ct_model=album.ct_model slug=album.slug %}" class="btn btn-primary">Добавить</a>
                                        {% else %}
                                            <a href="{% url 'cart' %}" class="btn btn-secondary">Перейти в корзину</a>
                                        {% endif %}
                                    {% else %}
                                        {% if album not in request.user.customer.wishlist.all %}
                                            <a href="{% url 'add_to_wishlist' album_id=album.id %}" class="btn btn-warning">Добавить в ожидаемое</a>
                                        {% else %}
                                            <a href="{% url 'account' %}" class="btn btn-secondary">Перейти ожидаемое</a>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}